importFrom("terra", "crs", "ext", "nlyr", "rast", "vect", "distance", "extract", "predict", "writeRaster", "as.data.frame")
importFrom("data.table", "%chin%", "setDT", "setorder", "data.table", ":=", "melt")
importFrom("dplyr", "%>%", "setdiff", "select", "distinct", "intersect", "inner_join")
importFrom("pbapply", "pbsapply", "pboptions")
importFrom("qmap", "fitQmapQUANT", "fitQmapRQUANT", "doQmapRQUANT", "doQmapQUANT")
importFrom("randomForest", "randomForest")
importFrom("stats", "na.omit", "setNames", "residuals", "var")

S3method(RFplus,data.table)
S3method(RFplus,default)
export(RFplus)
